/* What : To Align the logo at left*/
#what .items{
    display: block;
    padding: 1rem;
}
#what .items .item{
    display: flex;
    text-align: left;
}

#what .items .item i{
    align-self: center;
    margin-right: 1.75rem;
    margin-bottom: 0; 
}

/* Smartphones */
@media(max-width: 540px){
   #navbar{
      flex-direction: column;
      align-items: center;
      top: -1px;
   }

   #navbar .logo{
       text-align: center;
       margin-bottom: 0.5rem;
   }

   #navbar ul{
       padding: 0.5rem;
   }


   #showcase .showcase_content{
       top: 110px;
   }
   #who{
       display: block;
   }
   #who .who_img{
       display: none;
   }

   #clients .items img{
       width: 80%;
   }

   #clients .items div:last-child{
       display: none;
   }

   #contact{
       display: block;
   }

   #contact .map{
       height: 250px;
       border-top: 3px solid rgb(0, 0, 0);
   }
}

/* Samsung Fold */
@media(max-width: 280px){
   #navbar ul li a{
     padding: 0.2rem 0.3rem;
   }
   
   #what .items{
    padding: 1rem;
    text-align: center;
   }

   #what .items .item{
    display: block;
    padding: 0.5rem;
  }
}

